@model InformationTechnology.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name of the Course
        </dt>

        <dd style=" width: 960px; height: 100px;">
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            Description
        </dt>

        <dd style=" width: 960px; height: 100px;">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        
        <dt>
            Teachers
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>

    </dl>
</div>
<p> 
    @Html.ActionLink("Modules", "Index","Modules", new { id = Model.CourseID },null)|
    @Html.ActionLink("Back to List", "Index")
</p>
