<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Information and Technology College</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Information and Technology College ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Register", "Register", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="logo-picture" style="position:absolute;  right:5%; top:5%; width:100px; height:100px;">
        <img style="width: 200px; height:200px;" src="~/Image/Logo.png" />
    </div>
    <div class="ad-container" style="top:30%;
                                     border: 1px solid black;
                                     right: 0%;
                                     height:70%;
                                     position:absolute;
                                     width:15%;
                                     ">
        
        <div class="ad" style="border: 1px solid black;
                                        width:100%;
                                        float:left;
                                       height:40%;
                                       justify-content:center;
                                       align-items:center;
                                       text-align:center;">
            ad1
        </div>
        <div class="ad" style="border: 1px solid black;
                                       width:100%;
                                       height:30%;
                                       justify-content:center;
                                       align-items:center;
                                       text-align:center;">

            ad2

        </div>
        <div class="ad" style="border: 1px solid black;
                                       width:100%;
                                       height:30%;
                                       justify-content:center;
                                       align-items:center;
                                       text-align:center;">

            ad3

        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer style="position:static; bottom:0%;">
            <p> Contact Us Here:  </p> <br /><p> Our Social Media: </p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
